##### Inspired by https://www.kaggle.com/szhou42/predict-future-sales-top-11-solution#Exploratory-Data-Analysis

The idea here is to emulate the first step of building a simple model using the data for the previous month and making sure that we get desired score of around 1 on test data.

In [1]:
# Various imports.
import pandas as pd
import numpy as np

In [2]:
item_categories = pd.read_csv("../input/item_categories.csv")

In [3]:
shops = pd.read_csv("../input/shops.csv")

In [4]:
sales_train = pd.read_csv("../input/sales_train.csv")

In [5]:
monthly_sales_data = sales_train[['date_block_num', 'shop_id', 'item_id', 'item_cnt_day' ]].groupby(
    ['date_block_num', 'shop_id', 'item_id']).sum()

In [6]:
monthly_sales_data.rename(columns={'item_cnt_day':'item_cnt_month'}, inplace=True)

In [7]:
monthly_sales_data.head()

                                item_cnt_month
date_block_num shop_id item_id
0              0       32                  6.0
                       33                  3.0
                       35                  1.0
                       43                  1.0
                       51                  2.0

In [8]:
monthly_sales_data.reset_index(['date_block_num', 'shop_id', 'item_id'], inplace=True)

In [9]:
monthly_sales_data.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        0       32             6.0
1               0        0       33             3.0
2               0        0       35             1.0
3               0        0       43             1.0
4               0        0       51             2.0

In [10]:
monthly_sales_data['shop_id_and_item_id'] = list(zip(monthly_sales_data.shop_id, monthly_sales_data.item_id))

In [11]:
monthly_sales_data.date_block_num.max()

33

In [12]:
month_33_sales_data = monthly_sales_data[monthly_sales_data['date_block_num'] == 33].copy()

In [13]:
monthly_sales_data.head()

   date_block_num  shop_id  item_id  item_cnt_month shop_id_and_item_id
0               0        0       32             6.0             (0, 32)
1               0        0       33             3.0             (0, 33)
2               0        0       35             1.0             (0, 35)
3               0        0       43             1.0             (0, 43)
4               0        0       51             2.0             (0, 51)

In [14]:
month_33_sales_data['item_cnt_month'].clip(lower=0, upper=20, inplace=True)

In [15]:
shop_id_and_item_id_to_item_cnt_month = dict(zip(month_33_sales_data.shop_id_and_item_id, 
                                                 month_33_sales_data.item_cnt_month))

In [16]:
test = pd.read_csv('../input/test.csv')

In [17]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [18]:
test['item_cnt_month'] = test.apply(lambda x : 
                                    shop_id_and_item_id_to_item_cnt_month.get((x.shop_id, x.item_id), 0), 
                                    axis=1)

In [19]:
test[['ID', 'item_cnt_month']].to_csv('first_test_submission.csv', index=False)

##### The submission looks to be getting the desired predictability.

This shows that the predictive scores can vary wildly depending on the month selected for the validation set. Let us see how the scores come up, when we use months from 2 to 32 as the validation sets. Let us do that in a new notebook.